<div ng-controller="newDishController">
    <p>&nbsp;</p>
    <div class="container" align="center">
        <h4 align="center">Добавить новое блюдо ресторана {{showCurrentRestaurantTitle()}}</h4>
        <p>&nbsp;</p>
        <table class="table table-striped" width="80%" cellpadding="0" cellspacing="0" align="center" ng-model="newDish">
            <thead>
            <tr>
                <td width="40%"><b>Пункт описания</b></td><td width="40%"><b>Новое значение</b></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>Название</b></td><td><input class="form-control" type="text" ng-model="newDish.title" id="title" name="title" placeholder="Название" required/></td>
            </tr>
            <tr>
                <td><b>Название ресторана</b></td><td>{{newDish.restaurantTitle}}</td>
            </tr>
            <tr>
                <td><b>Описание</b></td><td><textarea class="form-control" cols="10" id="description"
                                                      name="description" ng-model="newDish.description"
                                                      placeholder="Описание" required
                                                      rows="3" type="text"></textarea></td>
            </tr>
            <tr>
                <td><b>Группа блюд</b></td>
                <td>
                    <form name="groupSelect" novalidate>
                        <select class="form-select" id="groupDishTitle" name="groupDishTitle" ng-model="groupDishTitle" ng-init="selected" required>
                            <option value="" selected>Выбор группы</option>
                            <option ng-repeat="group in groupList" value="{{group.title}}">{{group.title}}</option>
                        </select>
                    </form>
                </td>
            </tr>
            <tr>
                <td><b>Калории</b></td><td><input class="form-control" type="number" ng-model="newDish.calories" id="calories" name="calories" placeholder="Калории" required/></td>
            </tr>
            <tr>
                <td><b>Жиры</b></td><td><input class="form-control" type="number" ng-model="newDish.fats" id="fats" name="fats" placeholder="Жиры" required/></td>
            </tr>
            <tr>
                <td><b>Белки</b></td><td><input class="form-control" type="number" ng-model="newDish.proteins" id="proteins" name="proteins" placeholder="Белки" required/></td>
            </tr>
            <tr>
                <td><b>Углеводы</b></td><td><input class="form-control" type="number" ng-model="newDish.carbohydrates" id="carbohydrates" name="carbohydrates" placeholder="Углеводы" required/></td>
            </tr>
            <tr>
                <td><b>Стоимость</b></td><td><input class="form-control" type="number" ng-model="newDish.price" id="price" name="price" placeholder="Стоимость" required/></td>
            </tr>
            <tr>
                <td><b>Категория блюд</b></td>
                <td>
                    <form name="groupSelect" novalidate>
                        <select class="form-select" id="categoryTitle" name="categoryTitle" ng-model="categoryTitle" ng-init="selected" required>
                            <option value="" selected>Выбор категории</option>
                            <option ng-repeat="category in categoriesList" value="{{category.title}}">{{category.title}}</option>
                        </select>
                    </form>
                </td>
            </tr>
            <td align="center"><button class="btn btn-outline-danger btn-sm" style="width: 70%;" type="button" ng-click="addNewDish()">Сохранить</button></td>
            <td align="center"><button type="button" class="btn btn-outline-success btn-sm" style="width: 70%;" ng-click="showDishesPage()">Вернуться к списку блюд</button></td></td>
            </tr>
            </tbody>
        </table>


    </div>
</div>