<div ng-controller="restaurantEditInfoController">
    <p>&nbsp;</p>

    <div class="container" align="center">
        <h4 align="center">Правка профиля ресторана {{showCurrentRestaurantTitle()}}</h4>
        <p>&nbsp;</p>
        <table class="table table-striped" width="80%" cellpadding="0" cellspacing="0" align="center" ng-model="restaurantInfo">
            <thead>
            <tr>
                <td width="30%"><b>Пункт профиля</b></td><td width="30%"><b>Текущее значение</b></td><td width="30%"><b>Новое значение</b></td>
            </tr>
            </thead>
            <tr>
                <td>Описание</td><td>{{description}}</td><td><textarea class="form-control" cols="10" id="description"
                                                                                      name="description" ng-model="editedRestaurantInfo.description"
                                                                                      placeholder="Описание" required
                                                                                      rows="3" type="text"></textarea></td>
            </tr>
            <tr>
                <td>Кухни</td><td>{{cuisines}}</td><td><textarea class="form-control" cols="10" id="cuisines"
                                                                                name="cuisines" ng-model="editedRestaurantInfo.cuisines"
                                                                                placeholder="Кухни" required
                                                                                rows="3" type="text"></textarea></td>
            </tr>
            <tr>
                <td>Адрес</td><td>{{address}}</td><td><textarea class="form-control" cols="10" id="address"
                                                                               name="address" ng-model="editedRestaurantInfo.address"
                                                                               placeholder="Адрес" required
                                                                               rows="3" type="text"></textarea></td>
            </tr>
            <tr>
                <td>Номер телефона</td><td>{{phoneNumber}}</td><td><input class="form-control" type="text" ng-model="editedRestaurantInfo.phoneNumber" id="phoneNumber" name="phoneNumber" placeholder="Номер телефона" required/></td>
            </tr>
            <tr>
                <td>E-mail</td><td>{{email}}</td><td><input class="form-control" type="text" ng-model="editedRestaurantInfo.email" id="email" name="email" placeholder="E-mail" required/></td>
            </tr>
            <tr>
                <td>Часы работы</td><td>{{openHours}}</td><td><input class="form-control" type="text" ng-model="editedRestaurantInfo.openHours" id="openHours" name="openHours" placeholder="Часы работы" required/></td>
            </tr>
            <td align="left"><button class="btn btn-outline-danger btn-sm" style="width: 100%;" type="button" ng-click="updateRestaurantInfo()">Сохранить</button></td>
            <td><button class="btn btn-outline-warning btn-sm" style="width: 100%;" ng-click="undoChanges()">Отменить</button></td></td>
            <td><button type="button" class="btn btn-outline-success btn-sm" style="width: 100%;" ng-click="showRestaurantInfoPage()">Профиль ресторана</button></td></td>
            </tr>
            <tbody>
        </table>
    </div>
</div>