<div ng-controller="dishEditController">
    <p>&nbsp;</p>
    <div class="container" align="center">
        <h4 align="center">Редактирование описания блюда ресторана {{showCurrentRestaurantTitle()}}</h4>
    <p>&nbsp;</p>
    <table class="table table-striped" width="80%" cellpadding="0" cellspacing="0" align="center">
        <thead>
        <tr>
            <td width="30%"><b>Пункт описания</b></td><td width="30%"><b>Текущее значение</b></td><td width="30%"><b>Новое значение</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>Название</b></td><td>{{title}}</td><td><input class="form-control" type="text" ng-model="editedDish.title" id="title" name="title" placeholder="Название" required/></td>
        </tr>
        <tr>
            <td><b>Описание</b></td><td>{{description}}</td><td><textarea class="form-control" cols="10" id="description"
                                                                          name="description" ng-model="editedDish.description"
                                                                          placeholder="Описание" required
                                                                          rows="3" type="text"></textarea></td>
        </tr>
        <tr>
            <td><b>Группа блюд</b></td><td>{{group_dish_title}}</td>
            <td>
                <form name="groupSelect" novalidate>
                <select class="form-select" id="groupDishTitle" name="groupDishTitle" ng-model="groupDishTitle" ng-init="selected=isInitGroupValue()" required>
                    <option value="">Выбор группы</option>
                    <option ng-repeat="group in groupList" value="{{group.title}}">{{group.title}}</option>
                </select>
                </form>
            </td>
        </tr>
        <tr>
            <td><b>Калории</b></td><td>{{calories}}</td><td><input class="form-control" type="number" ng-model="editedDish.calories" id="calories" name="calories" placeholder="Калории" required/></td>
        </tr>
        <tr>
            <td><b>Жиры</b></td><td>{{fats}}</td><td><input class="form-control" type="number" ng-model="editedDish.fats" id="fats" name="fats" placeholder="Жиры" required/></td>
        </tr>
        <tr>
            <td><b>Белки</b></td><td>{{proteins}}</td><td><input class="form-control" type="number" ng-model="editedDish.proteins" id="proteins" name="proteins" placeholder="Белки" required/></td>
        </tr>
        <tr>
            <td><b>Углеводы</b></td><td>{{carbohydrates}}</td><td><input class="form-control" type="number" ng-model="editedDish.carbohydrates" id="carbohydrates" name="carbohydrates" placeholder="Углеводы" required/></td>
        </tr>
        <tr>
            <td><b>Стоимость</b></td><td>{{price}}</td><td><input class="form-control" type="number" ng-model="editedDish.price" id="price" name="price" placeholder="Стоимость" required/></td>
        </tr>
        <td align="left"><button class="btn btn-outline-danger btn-sm" style="width: 100%;" type="button" ng-click="updateDish()">Сохранить</button></td>
        <td><button class="btn btn-outline-warning btn-sm" style="width: 100%;" ng-click="undoChanges();isInitGroupValue()">Отменить</button></td></td>
        <td><button type="button" class="btn btn-outline-success btn-sm" style="width: 100%;" ng-click="showDishesPage()">Вернуться к списку блюд</button></td></td>
        </tr>
        </tbody>
    </table>


    </div>
</div>