<div class="container" ng-controller="sendRequestController">
    <p>&nbsp;</p>
<h2 align="center">Отправить диетологу или изменить запрос ресторана {{showCurrentRestaurantTitle()}}</h2>
    <p>&nbsp;</p>

<h3 align="center">Список выбранных для отправки блюд</h3>
    <p>&nbsp;</p>
<table class="table table-striped" width="80%" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <td><b>ID</b></td>
        <td><b>Название</b></td>
        <td><b>Описание</b></td>
        <td><b>Группа блюд</b></td>
        <td><b>Калории</b></td>
        <td><b>Белки</b></td>
        <td><b>Жиры</b></td>
        <td><b>Углеводы</b></td>
        <td><b>Здоровое питание</b></td>
        <td><b>Одобрено диетологом</b></td>
        <td colspan="2" align="center"><b>Действие</b></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in mailBox.items">
        <td>{{item.dishId}}</td>
        <td>{{item.dishTitle}}</td>
        <td>{{item.dishDescription}}</td>
        <td>{{item.dishGroupDishTitle}}</td>
        <td>{{item.dishCalories}}</td>
        <td>{{item.dishProteins}}</td>
        <td>{{item.dishFats}}</td>
        <td>{{item.dishCarbohydrates}}</td>
        <td>{{item.dishHealthy}}</td>
        <td>{{item.dishApproved}}</td>
        <td align="center"><button type="button" class="btn btn-outline-danger" ng-click="deleteDishFromMailBox(item.dishId)">Удалить</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="2"><b><i>Выбор решения:</i></b></td>
        <td colspan="3" align="left"><button type="button" class="btn btn-outline-danger" ng-click="clearMailBox()">Отменить все</button></td>
        <td colspan="3" align="left"><button type="button" class="btn btn-outline-success" ng-click="showCreateRequestPage()">Вернуться к списку</button></td>
        <td colspan="3" align="left"><button type="button" class="btn btn-outline-primary" ng-click="createRequestToNutritionist()">Отправить запрос</button></td>
    </tr>
    <tbody>
</table>
</div>