<div>
    <p></p>
    <h3 align="center">Список ресторанов</h3>
    <p></p>

    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Действие</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="r in RestaurantsList">
            <td>{{r.id}}</td>
            <td>{{r.title}}</td>
            <td>{{r.action}}</td>
            <td>
                <button class="btn btn-primary" ng-click="showRestaurantPage(r)">Страница ресторана</button>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" ng-repeat="pageIndex in pagesList">
                <button class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</button>
            </li>
        </ul>
    </nav>
</div>